<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<div style="text-align: center; background-color: #508bfc; height: 100%;">
    <h3>Welcome to my Angular App</h3>
    <button class="btn btn-primary" (click)="login()" routerLink="/login">Login</button>
</div>
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div>
                <h3>User Dashboard</h3>
                <hr>
                <div style="margin-left: 25%;">
                  <app-info
                    *ngFor="let acc of accounts; let i = index"
                    [account]="acc"></app-info>
                </div><hr>
              </div>
          </div>
        </div>
    </div>
</div>
</div>
<hr>
<router-outlet></router-outlet>


